<header>
    <div class="menu">
        <i class="fa-solid fa-bars bar"></i>
    </div>
    <nav class="navegador">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Precios</a></li>
            <li><a href="">Contactanos</a></li>
        </ul>
    </nav>
    <div class="logo">
        <img src="../../assets/img/Logo-LunaVipNails.svg" alt="Logo">
    </div>
    <div class="shopping">
        <i class="fa-solid fa-bag-shopping add-shopping"></i>
    </div>
</header>