<section class="about-us">
    <div class="information">
        <h2>Bienvenidos a Luna</h2>
        <p>Luna Vip Nails es un emprendimiento que ofrece atención personalizada
            únicamente a domicilio con cobertura en la zona norte de la ciudad de Bogotá.
            Sin necesidad de salir del confort de tu hogar, nosotras vamos hacia ti para
            consentirte y embellecer las uñas de tus manos y pies, con las más novedosas
            técnicas de decoración, acabados, limpieza y diseños, además de los mejores
            productos del mercado.
            Estamos totalmente capacitadas y le damos total cumplimiento a las normas de
            bioseguridad e higiene para su mayor tranquilidad.
            Creemos fielmente que cada persona necesita encontrar un balance entre el afán
            de los días, lo laboral y el cuidado personal. Por eso, en Luna Vip Nails encontrarás
            profesionales altamente capacitadas para generar un ambiente tranquilo donde te
            podrás sentir a gusto mientras te ayudan a cuidar tus manos y pies, así mismo te
            relajas y olvidas de todo dejando las preocupaciones atrás.</p>
    </div>
</section>
