:root{
    --negro: #000000;
    --blanco: #fff;

    --color-principal:#FFC1DB;
    --color-botones-letras:#DF6095;
    --color-secundario: #FADB8C;
    --color-degradado: linear-gradient(#FFC1DB, #FADB8C );


}