@import './config-scss/reset.scss';
@import './config-scss/variables.scss';


html{
    background: var(--color-principal);
}


main {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}